		
	html body {
		height: 100%;
	}
	/*导航栏开始*/
	.navi-site {
		
		height: 48px;
		border-bottom: 2px solid #F4C947;
		background: #333;
		
	}
	 
	.navi-site .w {
		height: 48px;
 	}
	
	.navi-site .w ul {
		height: 48px;
		width: 100%px;
	}
	
	.navi-site ul li {
		float: left;
		height: 48px;
		width: 180px;
		text-align: center;
		line-height: 48px;
		 
	}
	
	.navi-site ul li img {
		height: 27px;
		width: 54px;
		
	}
	
	.navi-site ul li a {
		display: block;
		color: white;
		font-size: 15px;
		height: 48px;
		width: 100%;
		word-spacing: 2px;
	}

	/*导航栏结束*/
	
	.navi-m {
		display: none;
	}
	
	/*视频区域开始*/
	.video {
		height: 496px;
		width: 100%;
		background-color: #F9F9F9;
	}
 	
	.playcontent {
		height: 100%;
		text-align: center;
		background-image:url(../img/topbackImg.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: cover;
		overflow: hidden;
		/*position: relative;*/
 	}
	.playcontent h1 {
		font-size: 26px;
		height: 28px;
		line-height: 28px;
		margin-top: 205px;
		padding-bottom: 33px;
		font-family: simhei;
		font-weight: 700;
		color: rgba(0,0,0,.9);;
	}
	
	.playcontent span {
		display: block;
		margin: 0 auto;
		width: 90px;
		height: 1px;
		border-bottom: 1px solid #191813;
		margin-bottom: 26px;
	}
 	
	.playcontent .play {
		width: 125px;
		height: 24px;
		cursor: pointer;
		margin: 0 auto;
	} 	
	
	/*视频播放区域*/
	 .playarea {
		width: 100%;
		height: 100%;
		position: absolute;
 		left: 0px;
		top: 0px;
		background-color: black;
		display: none;
		z-index: 2;
	}
	
	
	 .playarea video {
		/*background: yellow;*/
		width: 80%;
		height: 80%;
		/*padding-left: 10%;*/
		/*padding-top: 5%;*/
		object-fit: fill;
		/*position: relative;*/
		/*overflow: auto;*/
		margin-left: 10%;
		margin-top: 6%;
	}
	
	 .playarea  i {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		left: 20px;
		border-radius: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 40px;
		font-weight: 700;
		font-family: simhei;
		color: rgba(255,255,255,1);
		background-color: rgb(0,0,0,1);
		opacity: 0.6;
		cursor: pointer;

		/*display: none;*/
	}
	/*视频区域结束*/

	/*解决方案开始*/
	.solution {
		padding-top: 100px;
		padding-bottom: 66px;
		/*border: 1px solid #fff;*/
		overflow: hidden;
 		/*background-color: lightskyblue;*/
	}
	
	.solution .list {
		float: left;
		width: 431px;
		padding-left: 20px;
	}
	
	.solution .content {
		float: left;
		width: 769px;
		margin-top: 3px;
	}
	
	.solution .list ul li {
		height: 56px;
		padding-bottom: 24px;
		position: relative;
		cursor: pointer;
	}
	
	.solution .list ul li i {
		height: 23px;
		font: 23px/23px simhei;
		color:#989695;
	}
	.solution .list ul li span {
		position: absolute;
		width: 97px;
		height: 1px;
		background-color: #F7BB28;
		bottom: 25px;
		left: 0;
		display: none;
	}
	.solution .list ul li .current {
		
		color: #000;
		height: 11px;
		font:700 11px/11px simhei;
		
	}{
		color: #000;
		font:700 29px simhei;
	}
	.solution .list ul li:first-child span{
		display: block;
		}
		
	/*右侧内容*/
	.solution div.content div {
		display: none;
		border-top: 1px solid #878787;
	}
	
	.solution .content div:first-child
	{
		display: block;
	}
	
	.solution .content p {
		padding-top: 49px;
		font: 19px/36px simhei;
		color: rgba(0,0,0,.8);
		text-align: justify;
		padding-bottom: 48px;
		border-bottom: 1px solid #878787;
		margin-bottom: 50px;
	}
	
	.solution .content ul li {
		float: left;
		margin-right: 25px;
		padding-bottom: 25px;
 	}
	
	
	/*解决方案结束*/
	 
	/*footer 开始*/
	.footer {
		text-align: center;
	}
	 .footer img {
	 	display: block;
	 	width: 129px;
	 	height: 16px;
	 	margin: 0 auto;
	 	padding-top: 40px;
	 }
	 
	 .footer span {
	 	display: block;
		padding-top: 15px;
		width: 475px;
		height: 1px;
		border-bottom: 1px solid #000;
		margin: 0 auto;
	 }
	 
	 .footer p {
	 	color: rgba(0,0,0,.8);
	 	font-size: 20px;
	 	line-height: 20px;
	 	padding-top: 16px;
	 	padding-bottom: 15px;
	 	
	 }
	 
	 .footer a {
	 	text-decoration: none;
	 	color: #000000;
	 	font-size: 17px;
	 	line-height: 20px;
	 	padding-bottom: 50px;
	 	
	 }
	/*footer 结束 a29 16*/
 

/************************************分割线**********************************************/

/*plus*/
@media screen and (max-width: 767px) {
	.w {
		/*background-color: darkgoldenrod;*/
		/*width: 375px;*/
		width: 100%;
	}
	
	html body {
		height: 100%;
	}
	
	.navi-site {
		display: none;
	}
	
	/*移动导航开始*/
	.navi-m {
		display: block;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
	}
	
	.navi-m {
		height: 37px;
		background-color: red; 
		border-bottom: 1px solid #F2C846;
		/*position: relative;*/
		z-index: 2;
	}
	
	.navi-m .title {
		height: 100%;
		background-color: #000000;
		position: relative;
	}
	
	.navi-m .title .show {
		position: absolute;
		width: 15px;
		height: 12px;
		left: 20px;
		top: 13px;
		
	}
	
	.navi-m .btn {
		position: absolute;
		width: 13px;
		height: 13px;
		left: 20px;
		top: 13px;
		display: none;
		
	}
	.navi-m .title .logo {
		 
		display: block;
		margin: 0 auto;
		padding-top: 10px;
		width: 37px;
		line-height: 37px;
		
	}
	
	.navi-m .menu  {
		background: #000000;
		display: none;
		position: relative;
		z-index: 2;
	}
	
	.navi-m .menu  ul {
		/*background: #000000;*/
		height: 179px;
		padding: 8px 0;
		
	}
	
	.navi-m .menu ul li {
		height: 40px;
		line-height: 40px;
		margin:0 40px;
		
		font-family: simhei;
		border-bottom:  1px solid #282828;
	}
	
	.navi-m .menu ul li:last-child {
		border: none;
	}
	
	.navi-m .menu ul li a {
		font-size: 15px;
		color: #fff;;
	}
	 
	/*移动导航结束*/
	/*视频区域开始*/
		.video {
		height: 150px;
		width: 100%;
		background-color: #F9F9F9;
		margin-top: 37px;
		}
 	
	.playcontent {
		height: 100%;
		text-align: center;
		background-image:url(../img/topbackImg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-origin: content-box;
		overflow: hidden;
		/*position: relative;*/
 	}
	.playcontent h1 {
		font-size: 11px;
		height: 12px;
		line-height: 12px;
		margin-top: 50px;
		padding-bottom: 13px;
		font-family: simhei;
		font-weight: 700;
		color: rgba(0,0,0,.9);;
	}
	
	.playcontent span {
		display: block;
		margin: 0 auto;
		width: 45px;
		height: 1px;
		border-bottom: 1px solid #191813;
		margin-bottom: 13px;
	}
 	
	.playcontent .play {
		width: 62px;
		height: auto;
		cursor: pointer;
		margin: 0 auto;
	} 	
	.playcontent .play img {
		width: 62px;
		height: auto;
	}
	
	/*视频播放区域*/
	 .playarea {
		width: 100%;
		height: 100%;
		position: absolute;
 		left: 0px;
		top: 0px;
		background-color: black;
		display: none;
		z-index: 2;
	}
	
	
	 .playarea video {
		/*background: yellow;*/
		width: 80%;
		height: 80%;
		/*padding-left: 10%;*/
		/*padding-top: 5%;*/
		object-fit: fill;
		/*position: relative;*/
		/*overflow: auto;*/
		margin-left: 10%;
		margin-top: 6%;
	}
	
	 .playarea  i {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		left: 20px;
		border-radius: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 40px;
		font-weight: 700;
		font-family: simhei;
		color: rgba(255,255,255,1);
		background-color: rgb(0,0,0,1);
		opacity: 0.6;
		cursor: pointer;

		/*display: none;*/
	}
	/*视频区域结束*/

	/*解决方案开始*/
	.solution {
		padding-top: 25px;
		padding-bottom: 54px;
		/*border: 1px solid #fff;*/
		overflow: hidden;
 		/*background-color: lightskyblue;*/
	}
	
	.solution .list {
		float: auto;
		width: 100%;
		padding-left: 0px;
	}
	
	.solution .content {
		float: auto;
		width: 100%;
		margin-top: 3px;
		/*padding-left: 5px;*/
	}
	
	.solution .list ul {
		margin-left: 0px;
		width: 600%;
		height: 25px;;
		background-color: green;
	}
	.solution .list ul li {
		height: 25px;
		width: 146px;
		float: left;
		padding-bottom: 0px;
		position: relative;
		cursor: pointer;
		/*margin-right: 42px;*/
		margin: 0 20px;
		text-align: center;
		background-color: red;
	}
	
	.solution .list ul li .current {
		
		color: #000;
		height: 11px;
		font:700 11px/11px simhei;
		
	}
	
	.solution .list ul li i {
		height: 10px;
		/*font: 8px/10px simhei;*/
		font-size: 8px;
		line-height: 10px;
		font-family: simheim;
		color:#989695;
		/*position: absolute;*/
		/*top: 2px;*/
	}
	.solution .list ul li span {
		position: absolute;
		width: 30px;
		height: 1px;
		background-color: #F7BB28;
		bottom: 0px;
		left: 12px;
		display: none;
	}
	/*.solution .list ul li:first-child i{
		
	}*/
	.solution .list ul li:first-child span{
		display: block;
		}
		
	/*右侧内容*/
	.solution div.content div {
		display: none;
		margin: 0 20px;
		border-top: 1px solid #878787;
		margin-top: 25px;
	}
	
	.solution .content div:first-child
	{
		display: block;
	}
	
	.solution .content p {
		padding-top: 25px;
		font: 8px/19px simhei;
		color: rgba(0,0,0,.8);
		text-align: justify;
		padding-bottom: 24px;
		border-bottom: 1px solid #878787;
		margin-bottom: 13px;
	}
	.solution .content ul {
		margin-left: 0px;
	}
	.solution .content ul li {
		float: left;
		margin-right: 13px;
		padding-bottom: 10px;
		text-align: center;
 	}
 	
 	.solution .content ul li img {
 		width: 22px;
 		height: auto;
 	}
 	
	
	
	/*解决方案结束*/
	 
	/*footer 开始*/
	.footer {
		text-align: center;
	}
	 .footer img {
	 	display: block;
	 	width: 65px;
	 	height: auto;
	 	margin: 0 auto;
	 	padding-top: 20px;
	 }
	 
	 .footer span {
	 	display: block;
		padding-top: 7px;
		width: 236px;
		height: 1px;
		border-bottom: 1px solid #000;
		margin: 0 auto;
	 }
	 
	 .footer p {
	 	color: rgba(0,0,0,.8);
	 	font-size: 9px;
	 	line-height: 20px;
	 	padding-top: 8px;
	 	padding-bottom: 13px;
	 	
	 }
	 
	 .footer a {
	 	text-decoration: none;
	 	color: #000000;
	 	font-size: 12px;
	 	line-height: 20px;
	 	padding-bottom: 20px;
	 	
	 }
	/*footer 结束 a29 16*/ 

	 
	
}

/*ipad*/
@media screen and (min-width:768px) and (max-width: 1220px) {
	.w {
		background-color: lightskyblue;
		width: 750px;
		
	}
	
		
	html body {
		height: 100%;
	}
	/*导航栏开始*/
	.navi-site {
		
		height: 48px;
		border-bottom: 2px solid #F4C947;
		background: #333;
		
	}
	 
	.navi-site .w {
		height: 48px;
		/*background: #C81623;*/
	}
	
	.navi-site .w ul {
		height: 48px;
		width: 100%px;
	}
	
	.navi-site ul li {
		float: left;
		height: 48px;
		width: 20%;
		/*border-right: 2px solid #000;*/
		text-align: center;
		line-height: 48px;
		 
	}
	
	.navi-site ul li img {
		height: 27px;
		width: 54px;
		
	}
	
	.navi-site ul li a {
		display: block;
		color: white;
		font-size: 13px;
		height: 48px;
		width: 100%;
	}

	/*导航栏结束*/
	
	/*视频区域开始*/
	.video {
		height: 450px;
		width: 100%;
		background-color: #F9F9F9;
	}
 	
	.playcontent {
		height: 100%;
		text-align: center;
		background-image:url(../img/topbackImg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-origin: content-box;
		overflow: hidden;
		/*position: relative;*/
 	}
	.playcontent h1 {
		font-size: 23px;
		height: 28px;
		line-height: 28px;
		margin-top: 205px;
		padding-bottom: 33px;
		font-family: simhei;
		font-weight: 700;
		color: rgba(0,0,0,.9);;
	}
	
	.playcontent span {
		display: block;
		margin: 0 auto;
		width: 70px;
		height: 1px;
		border-bottom: 1px solid #191813;
		margin-bottom: 26px;
	}
 	
	.playcontent .play {
		width: 100px;
		height: auto;
		cursor: pointer;
		margin: 0 auto;
	} 	
	.playcontent .play img {
		width: 100px;
		height: auto;
	}
	
	/*视频播放区域*/
	 .playarea {
		width: 100%;
		height: 100%;
		position: absolute;
 		left: 0px;
		top: 0px;
		background-color: black;
		display: none;
		z-index: 2;
	}
	
	
	 .playarea video {
		/*background: yellow;*/
		width: 80%;
		height: 80%;
		/*padding-left: 10%;*/
		/*padding-top: 5%;*/
		object-fit: fill;
		/*position: relative;*/
		/*overflow: auto;*/
		margin-left: 10%;
		margin-top: 6%;
	}
	
	 .playarea  i {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		left: 20px;
		border-radius: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 40px;
		font-weight: 700;
		font-family: simhei;
		color: rgba(255,255,255,1);
		background-color: rgb(0,0,0,1);
		opacity: 0.6;
		cursor: pointer;

		/*display: none;*/
	}
	/*视频区域结束*/

	/*解决方案开始*/
	.solution {
		padding-top: 60px;
		padding-bottom: 46px;
		/*border: 1px solid #fff;*/
		overflow: hidden;
 		/*background-color: lightskyblue;*/
	}
	
	.solution .list {
		float: left;
		width: 30%;
		padding-left: 0px;
	}
	
	.solution .content {
		float: right;
		width: 68%;
		margin-top: 3px;
		/*padding-left: 5px;*/
	}
	
	.solution .list ul li {
		height: 56px;
		padding-bottom: 14px;
		position: relative;
		cursor: pointer;
	}
	
	.solution .list ul li i {
		height: 23px;
		font: 16px/16px simhei;
		color:#989695;
	}
	.solution .list ul li span {
		position: absolute;
		width: 60px;
		height: 1px;
		background-color: #F7BB28;
		bottom: 25px;
		left: 0;
		display: none;
	}
	.solution .list ul li:first-child i{
		color: #000;
		font:700 18px simhei;
	}
	.solution .list ul li:first-child span{
		display: block;
		}
		
	/*右侧内容*/
	.solution div.content div {
		display: none;
		border-top: 1px solid #878787;
	}
	
	.solution .content div:first-child
	{
		display: block;
	}
	
	.solution .content p {
		padding-top: 25px;
		font: 15px/30px simhei;
		color: rgba(0,0,0,.8);
		text-align: justify;
		padding-bottom: 18px;
		border-bottom: 1px solid #878787;
		margin-bottom: 20px;
	}
	.solution .content ul {
		/*margin-left: 20px;*/
	}
	.solution .content ul li {
		float: left;
		margin-right: 15px;
		padding-bottom: 10px;
		text-align: center;
 	}
 	
 	.solution .content ul li img {
 		width: 45px;
 		height: auto;
 	}
 	
	
	
	/*解决方案结束*/
	 
	/*footer 开始*/
	.footer {
		text-align: center;
	}
	 .footer img {
	 	display: block;
	 	width: 99px;
	 	height: auto;
	 	margin: 0 auto;
	 	padding-top: 30px;
	 }
	 
	 .footer span {
	 	display: block;
		padding-top: 15px;
		width: 215px;
		height: 1px;
		border-bottom: 1px solid #000;
		margin: 0 auto;
	 }
	 
	 .footer p {
	 	color: rgba(0,0,0,.8);
	 	font-size: 17px;
	 	line-height: 20px;
	 	padding-top: 13px;
	 	padding-bottom: 13px;
	 	
	 }
	 
	 .footer a {
	 	text-decoration: none;
	 	color: #000000;
	 	font-size: 15px;
	 	line-height: 20px;
	 	padding-bottom: 30px;
	 	
	 }
	/*footer 结束 a29 16*/ 
 
	 
}
 