
/*ipad*/
@media screen and (min-width:768px) and (max-width: 1220px) {
	.w {
		/*background-color: #fff;*/
		width: 750px;
		
	}
	
		
	html body {
		height: 100%;
	}
	/*导航栏开始*/
	.navi-site {
		
		height: 48px;
		border-bottom: 2px solid #F4C947;
		background: #333;
		
	}
	 
	.navi-site .w {
		height: 48px;
		/*background: #C81623;*/
	}
	
	.navi-site .w ul {
		height: 48px;
		width: 100%px;
	}
	
	.navi-site ul li {
		float: left;
		height: 48px;
		width: 20%;
		/*border-right: 2px solid #000;*/
		text-align: center;
		line-height: 48px;
		 
	}
	
	.navi-site ul li img {
		height: 27px;
		width: 54px;
		
	}
	
	.navi-site ul li a {
		display: block;
		color: white;
		font-size: 13px;
		height: 48px;
		width: 100%;
	}

	/*导航栏结束*/
	
	/*视频区域开始*/
	.video {
		height: 420px;
		width: 100%;
		/*background-color: #F9F9F9;*/
	}
 	
	.playcontent {
		/*height: 100%;*/
		/*text-align: center;*/
		/*background-image:url(../img/topbackImg.png);*/
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		/*background-size: 100% 100%;*/
		/*overflow: hidden;*/
		/*position: relative;*/
 	}
	.playcontent h1 {
		font-size: 23px;
		height: 28px;
		line-height: 28px;
		margin-top: 145px;
		padding-bottom: 33px;
		font-family: simhei;
		font-weight: 700;
		color: rgba(0,0,0,.9);;
	}
	
	.playcontent span {
		display: block;
		margin: 0 auto;
		width: 70px;
		height: 1px;
		border-bottom: 1px solid #191813;
		margin-bottom: 26px;
	}
 	
	.playcontent .play {
		width: 100px;
		height: auto;
		cursor: pointer;
		margin: 0 auto;
	} 	
	.playcontent .play img {
		width: 100px;
		height: auto;
	}
	
	/*视频播放区域*/
	 .playarea {
		width: 100%;
		height: 100%;
		position: absolute;
 		left: 0px;
		top: 0px;
		background-color: black;
		display: none;
		z-index: 2;
	}
	
	
	 .playarea video {
		/*background: yellow;*/
		width: 80%;
		height: 80%;
		/*padding-left: 10%;*/
		/*padding-top: 5%;*/
		object-fit: fill;
		/*position: relative;*/
		/*overflow: auto;*/
		margin-left: 10%;
		margin-top: 6%;
	}
	
	 .playarea  i {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		left: 20px;
		border-radius: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 40px;
		font-weight: 700;
		font-family: simhei;
		color: rgba(255,255,255,1);
		background-color: rgb(0,0,0,1);
		opacity: 0.6;
		cursor: pointer;

		/*display: none;*/
	}
	/*视频区域结束*/
	
	
		/*列表开始*/
		ul.list {
			height: 103px;
			display: flex;
			justify-content: space-around;
			padding-top: 33px;
			/*background-color: green;*/
		}
		
		.list li {
			height: 103px;
			text-align: center;
			/*background-color: red;*/
			position: relative;
			cursor: pointer;
		}
		/*如果后期不需要对齐的话， 注释掉这段即可*/
		.list li img {
			height: 38px;
		}
		
		.list li span {
			display: block;
			padding-top: 17px;
			padding-bottom: 15px;
			font-size: 17px;
			color: #919191;
		}
		
		.list li i {
			position: absolute;
			width: 80px;
			height: 1px;
			opacity: 0;
			left: 50%;
			bottom: 0;
			margin-left: -40px;
			background-color: #F3C74C;
			
		}
		
		.list li.current i{
			opacity: 1;
		}
		
		.list li.current span{
			color: rgba(0,0,0,.8);
			}
		
	
	/*列表结束*/
	
	/*内容开始*/
	/*公共部分*/
	.page1 {
		/*background-color: red;*/
		display: none;
	}
	
	.page2 {
		/*background-color: green;*/
		display: none;
	}
	
	.page3 {
		/*background-color: blue;*/
		display: none;
	}
	
	.page4 {
		/*background-color: pink;*/
		display: block;
	}
	.imgbox {
		/*background-color: green;*/
	}
	.textbox {
		/*background-color: orchid;*/
	}
	.imgbox img {
		width: 144px;
	}
	
	.imgbox,   .textbox {
			float: left;
		}
		
	.textbox  h3 {
		color: #585858;
		height: 38px;
		font: 700 34px/38px simhei;
		padding-bottom: 19px;
	}
	
	.textbox i {
		display: block;
		width: 78px;
		height: 1px;
		background-color: #F3C74C;
		margin-bottom: 14px;
	}
	
	.textbox p {
		font: 16px/27px simhei;
		color: rgba(0,0,0,.8);
		padding-bottom: 15px;
		text-align: justify;
	}
	
	.textbox ul {
		height: 104px;
		
	}
	
	.textbox ul li {
		height: 104px;
		text-align: center;
		float: left;
		padding-right: 18px;
	}
	
	.textbox ul li img {
		display: block;
		height: 50px;
		padding-bottom: 11px;
		margin: 0 auto;
	}
	
	.textbox ul li span {
		height: 14px;
		font: 14px/15px simhei;
		color: rgba(0,0,0,.8);
	}
	
	/*page1 开始*/
	
		/*s1*/
		.page1 .section1 {
			padding: 80px 0 60px 0;
			/*background-color: pink;*/
			overflow: hidden;
		}
		.page1 .section1 .textbox p {
			width: 407px;
		}
		
		 .page1 .section1 .imgbox img {
			width: 165px;
		}
		
		.page1 .imgbox {
			padding: 100px 95px 0px 29px;
			
		}
		
		/*s2*/
		.page1 .section2 {
			padding: 80px 0 77px 0;
			background-color: #FBFBFB;
			overflow: hidden;
		}
		.page1 .section2 .textbox p {
			width: 364px;
		}
		
		.page1 .section2 .textbox {
			padding-left: 20px;
		}
	 
		.page1 .section2 .imgbox img {
			width: 225px;
		}
		.page1 .section2 .imgbox {
			padding: 122px 0px 0px 69px;
			
		}
		
		/*s3*/
		.page1 .section3 {
			padding: 107px 0 100px 0;
			/*background-color: lightblue;*/
			overflow: hidden;
		}
		.page1 .section3 .textbox p {
			width: 384px;
		}
		
		.page1 .section3 .textbox {
			padding-left: 0;
		}
	 
		.page1 .section3 .imgbox img {
			width: 202px;
		}
		.page1 .section3 .imgbox {
			padding: 90px 60px 0px 15px;
			
		}
		
		/*s4*/
		.page1 .section4 {
			padding: 0 0 74px 0px;
			/*background-color: lightblue;*/
			overflow: hidden;
		}
		.page1 .section4 .textbox p {
			width: 389px;
		}
		
		.page1 .section4 .textbox {
			padding-left: 0;
		}
	 
		.page1 .section4 .imgbox img {
			width: 228px;
		}
		.page1 .section4 .imgbox {
			padding: 122px 0px 0px 56px;
			
		}
		
		div.s34 {
			/*width: 1920px;*/
			margin: 0 auto;
			height: 1201px;
			background: url(../../img/bg_cgq&clzdy.png) no-repeat center bottom;
			/*background-size: cover;*/
			overflow: hidden;
		}
	
	/*page1 结束*/
	
	/*page2 开始*/
		
		.page2 .textbox p {
			padding-bottom: 0;
		}
		
		/*s1*/
		.page2 .section1 {
			padding: 80px 0 78px 0;
			/*background-color: lightblue;*/
			overflow: hidden;
		}
		.page2 .section1 .textbox p {
			width: 400px;
			/*line-height: 30px;*/
		}
		
		.page2 .section1 .textbox {
			padding-left: 0;
		}
	 
		.page2 .section1 .imgbox img {
			width: 207px;
		}
		.page2 .section1 .imgbox {
			padding: 108px 73px 72px 4px;
			
		}
		
		/*s2*/
		.page2 .section2 {
			padding: 41px 0 87px 0;
			background-color: #FBFBFB;
			overflow: hidden;
		}
		.page2 .section2 .textbox p {
			width: 400px;
			/*line-height: 30px;*/
		}
		
		.page2 .section2 .textbox {
			padding-left: 00;
		}
	 
		.page2 .section2 .imgbox img {
			width: 250px;
		}
		.page2 .section2 .imgbox {
			padding: 127px 0px 0px 50px;
			
		}
		
		/*s3*/
		.page2 .section3 {
			padding: 46px 0 5px 0;
			/*background-color: aliceblue;*/
			overflow: hidden;
		}
		.page2 .section3 .textbox p {
			width: 400px;
			/*line-height: 30px;*/
		}
		
		.page2 .section3 .textbox {
			padding-left: 10;
		}
	 
		.page2 .section3 .imgbox img {
			width: 220px;
		}
		.page2 .section3 .imgbox {
			padding: 124px 96px 40px 50px;
			
		}
		
		.page2 .p2s3 {
			/*width: 1920px;*/
			height: 465px;
			background: url(../../img/intro_bkimg.png) no-repeat center bottom;
			margin: 0 auto;
			overflow: hidden;
			/*background-size: cover;*/
		}
	
	
	/*page2 结束*/
	
	/*page3 开始*/
	
		.page3 .textbox p {
			line-height: 25px;
		}
	
		.p3s3456 {
			height: 1754px;
			background: url(../../img/bg_xcjly_m1s_v1s.png) no-repeat center bottom;
			margin: 0 auto;
			background-color: red;
			overflow: hidden;
/*			background-size: 100% 100%;*/
			background-size: cover;
			/*background-color: darkorchid;*/
		}
	
		 /*s1*/
		.page3 .section1 {
			padding: 80px 0 35px 0;
			background-color: #fff;
			overflow: hidden;
		}
		.page3 .section1 .textbox p {
			width: 400px;
			/*text-align: center;*/
		 
		}
		.page3 .section1 .textbox  {
			padding-left: 0px;
		}
		
		.page3 .section1 .imgbox img {
			width: 201px;
		}
		.page3 .section1 .imgbox {
			padding: 83px 74px 133px 34px;
			
		}
		
		/*s2*/
		.page3 .section2 {
			padding: 70px 0 3px 0;
			background-color: #FBFBFB;
			overflow: hidden;
		}
		.page3 .section2 .textbox p {
			width: 400px;
		 
		}
		.page3 .section2 .textbox  {
			padding-left: 20px;
		}
		
		.page3 .section2 .imgbox img {
			width: 204px;
		}
		.page3 .section2 .imgbox {
			padding: 88px 0 0px 74px;
			
		}
		
		/*s3*/
		.page3 .section3 {
			padding: 121px 0 50px 0;
			/*background-color: blueviolet;*/
			overflow: hidden;
		}
		.page3 .section3 .textbox p {
			width: 400px;
		 
		}
		.page3 .section3 .textbox  {
			padding-left: 0px;
		}
		
		.page3 .section3 .imgbox img {
			width: 220px;
		}
		.page3 .section3 .imgbox {
			padding: 107px 70px 18px 10px;
			
		}
		
		/*s4*/
		.page3 .section4 {
			padding: 0px 0 42px 0;
			/*background-color: darkgoldenrod;*/
			overflow: hidden;
		}
		.page3 .section4 .textbox p {
			width: 400px;
		 
		}
		.page3 .section4 .textbox  {
			padding-left: 0px;
		}
		
		.page3 .section4 .imgbox img {
			width: 230px;
		}
		.page3 .section4 .imgbox {
			padding: 99px 0 0 65px;
			
		}
		
		/*s5*/
		.page3 .section5 {
			padding: 20px 0 60px 0;
			/*background-color: firebrick;*/
			overflow: hidden;
		}
		.page3 .section5 .textbox p {
			width: 400px;
		 
		}
		.page3 .section5 .textbox  {
			padding-left: 0px;
		}
		
		.page3 .section5 .imgbox img {
			width: 230px;
		}
		.page3 .section5 .imgbox {
			padding: 118px 87px 11px 0px;
			
		}
		
		/*s5*/
		.page3 .section6 {
			padding: 10px 0 0px 0;
			/*background-color: palegreen;*/
			overflow: hidden;
		}
		.page3 .section6 .textbox p {
			width: 400px;
		 
		}
		.page3 .section6 .textbox  {
			padding-left: 0px;
		}
		
		.page3 .section6 .imgbox img {
			width: 231px;
		}
		.page3 .section6 .imgbox {
			padding: 163px 0px 0px 60px;
			
		}
		
	/*page3 结束*/
	
	/*page4 开始*/
	
		/*s1*/
		.page4 .section1 {
			padding: 80px 0 64px 0;
			/*background-color: greenyellow;*/
			overflow: hidden;
		}
		.page4 .section1 .textbox p {
			width: 400px;
			/*line-height: 30px;*/
		}
		
		.page4 .section1 .imgbox img {
			width: 203px;
		}
		.page4 .section1 .imgbox {
			padding: 40px 83px 0px 51px;
			
		}
		
		.page4 .section1 .textbox {
			padding-left: 0;
		}
	 
	 	/*s2*/
		.page4 .section2 {
			padding: 80px 0 94px 0;
			background-color: #FCFCFC;
			overflow: hidden;
		}
		.page4 .section2 .textbox p {
			width: 402px;
		 
		}
		.page4 .section2 .textbox  {
		 
			padding-left: 0px;
		 
		}
		
		.page4 .section2 .imgbox img {
			width: 203px;
		}
		.page4 .section2 .imgbox {
			padding: 0px 0 0px 58px;
			
		}
		
		.page4 .section2 .textbox {
			padding-left: 0;
		}
		
		.p434s {
			height:801px;
			background: url(../../img/bg_cgq&clzdy.png) no-repeat center;
		}
		
		
		/*s3*/
		.page4 .section3 {
			padding: 159px 0 72px 0;
			/*background-color: blueviolet;*/
			overflow: hidden;
		}
		.page4 .section3 .textbox p {
			width: 400px;
		 
		}
		.page4 .section3 .textbox  {
		 
			padding-left: 0px;
		 
		}
		
		.page4 .section3 .imgbox img {
			width: 200px;
		}
		.page4 .section3 .imgbox {
			padding: 20px 78px 0px 40px;
			
		}
		 
		 /*s4*/
		.page4 .section4 {
			padding: 170px 0 167px 0;
			/*background-color: coral;*/
			overflow: hidden;
		}
		.page4 .section4 .textbox p {
			width: 400px;
		 
		}
		.page4 .section4 .textbox  {
			padding-left: 0px;
		}
		
		.page4 .section4 .imgbox img {
			width: 164px;
		}
		.page4 .section4 .imgbox {
			padding: 7px 0 0px 95px;
			
		}
		
	/*page4 结束*/
	
	
	/*内容结束*/ 
	 
	/*footer 开始*/
	.footer {
		text-align: center;
		margin-top: 50px;
	}
	 .footer img {
	 	display: block;
	 	width: 99px;
	 	height: auto;
	 	margin: 0 auto;
	 	padding-top: 30px;
	 }
	 
	 .footer span {
	 	display: block;
		padding-top: 15px;
		width: 215px;
		height: 1px;
		border-bottom: 1px solid #000;
		margin: 0 auto;
	 }
	 
	 .footer p {
	 	color: rgba(0,0,0,.8);
	 	font-size: 17px;
	 	line-height: 20px;
	 	padding-top: 13px;
	 	padding-bottom: 13px;
	 	
	 }
	 
	 .footer a {
	 	text-decoration: none;
	 	color: #000000;
	 	font-size: 15px;
	 	line-height: 20px;
	 	padding-bottom: 30px;
	 	
	 }
	/*footer 结束 a29 16*/ 
 
	 
}
 